body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
* {
    box-sizing: border-box;
}
  
.bg-image {
    background-image: url("background.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-image{
    background-image: url("face.jpg");

    width: 20%;
    height: 0;
    padding-bottom: 20%;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
  
.bg-text {
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.github-link {
    background-image: url("github-logo.png");

    width: 5%;
    height: 0;
    padding-bottom: 5%;

    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.linkedin-link {
    background-image: url("linkedin-logo.png");

    width: 5%;
    height: 0;
    padding-bottom: 5%;

    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}